[submodule ".registry"]
	path = .registry
	url = https://github.com/tiledb-inc/tiledb-inc.r-universe.dev
	branch = HEAD
[submodule "pbmc3k.sce"]
	path = pbmc3k.sce
	url = https://github.com/mojaveazure/pbmc3k-sce
[submodule "pbmc3k.tiledb"]
	path = pbmc3k.tiledb
	url = https://github.com/eddelbuettel/pbmc3k.tiledb
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
	branch = 0.29.0
[submodule "tiledbcloud"]
	path = tiledbcloud
	url = https://github.com/TileDB-Inc/TileDB-Cloud-R
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	branch = 1.14.1
	subdir = apis/r
